@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@font-face{
    font-family:'Blanch-Condensed';
    src:url("../fonts/Blanch-Condensed.eot");
    src:url("../fonts/Blanch-Condensed.woff2") format("woff2"),url("../fonts/Blanch-Condensed.woff") format("woff"),url("../fonts/Blanch-Condensed.ttf") format("truetype"),url("../fonts/Blanch-Condensedd41d.eot?#iefix") format("embedded-opentype");
    font-weight:normal;
    font-style:normal
}
body{
    overflow-X:hidden;
    font-family:"Lato",sans-serif
}
.landing-section{
    padding:92px 0
}
.img-wrap{
    width:100%
}
.img-wrap img{
    width:100%;
    max-width:inherit;
    max-height:inherit
}
*,*:focus,*:active,*:visited,*:hover,::before,::after{
    outline:none !important;
    background-size:cover !important;
    background-repeat:no-repeat !important;
    background-position:center !important
}
h1,h2,h3,h4,p{
    margin:0 0 22px
}
h1{
    font:italic normal 900 28px/28px "Lato",sans-serif;
    color:#fff
}
h2{
    font:normal normal 700 38px/normal "Lato",sans-serif
}
p{
    color:#f4f4f4;
    font-size:18px
}
a,a:hover,a:active,a:visited,a:focus{
    text-decoration:none;
    transition:.5s
}
label{
    font-weight:normal !important
}
textarea,textarea:active,textarea:focus{
    overflow-x:hidden
}
.btn{
    padding:6px 12px;
    border:1px solid #ccc;
    border-radius:3px
}
.btn-red,.btn-red:hover,.btn-red:active,.btn-red:focus{
    border-color:#a45fd8;
    color:#a45fd8;
    text-transform:uppercase;
    font-size:12px;
    padding:6px 14px
}
.btn-action,.btn-action:hover,.btn-action:active,.btn-action:focus{
    display:inline-block;
    border:0.12em solid #6F9A37;
    border-radius:3px;
    padding:4px 0;
    padding-left:0;
    margin-left:5px;
    text-align:left
}
.btn-action>*,.btn-action:hover>*,.btn-action:active>*,.btn-action:focus>*{
    background:#82B440;
    display:inline-block;
    color:#fff;
    font-weight:700;
    padding:12px 75px;
    border-radius:2px;
    position:relative;
    left:-5px;
    font-size:18px;
    white-space:pre-wrap;
    width:382px;
    z-index:2;
    border:0
}
.btn-underline{
    border-color: #fff;
    color: #fff;
    margin-top: 10px !important;
}
.btn-underline:hover,
.btn-underline:focus{
    border-color: #fff;
    color: #000;
    background: #fff;
}
.btn-orange,.btn-orange:hover,.btn-orange:active,.btn-orange:focus,.btn-gray,.btn-gray:hover,.btn-gray:active,.btn-gray:focus{
    color:#fff;
    font-weight:700;
    padding:18px 22px;
    border-radius:2px;
    font-size:18px;
    border:0
}
.btn-orange.btn-orange,.btn-orange:hover.btn-orange,.btn-orange:active.btn-orange,.btn-orange:focus.btn-orange,.btn-gray.btn-orange,.btn-gray:hover.btn-orange,.btn-gray:active.btn-orange,.btn-gray:focus.btn-orange{
    background:#81b43f
}
.btn-orange.btn-gray,.btn-orange:hover.btn-gray,.btn-orange:active.btn-gray,.btn-orange:focus.btn-gray,.btn-gray.btn-gray,.btn-gray:hover.btn-gray,.btn-gray:active.btn-gray,.btn-gray:focus.btn-gray{
    background:#444
}
.available,.available:hover,.available:active,.available:focus,.at-launch,.at-launch:hover,.at-launch:active,.at-launch:focus{
    width:160px;
    margin:auto;
    font-weight:400;
    text-transform:uppercase;
    color:#fff;
    font-size:12px;
    padding:4px
}
.available.available,.available:hover.available,.available:active.available,.available:focus.available,.at-launch.available,.at-launch:hover.available,.at-launch:active.available,.at-launch:focus.available{
    background:#813eb3
}
.available.at-launch,.available:hover.at-launch,.available:active.at-launch,.available:focus.at-launch,.at-launch.at-launch,.at-launch:hover.at-launch,.at-launch:active.at-launch,.at-launch:focus.at-launch{
    background:#444
}
.header .logo{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:42px auto 240px
}
.header .logo img{
    width:220px
}
.header .header-video{
    float: left;
    margin-left: 90px;
    padding: 20px;
    background: #ffffff14;
    border-radius: 10px;
    display: block;
    position: relative;
    width: 50%;
    margin-top: -50px;
}
.header .header-video iframe{
    width: 100%;
}
.header .header-content{
    float:right;
    margin-right:90px;
    max-width:490px;
    margin-bottom:220px
}
.header .header-content .header-content-top{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    margin-bottom:22px
}
.header .header-content .header-content-top .img-wrap{
    display:flex;
    align-items:center;
    justify-content:center;
    width:auto
}
.header .header-content .header-content-top .img-wrap:after{
    content:'';
    display:inline-block;
    position:relative;
    height:32px;
    background:#c4c4c4;
    width:1px;
    margin:0 42px
}
.header .header-content .header-content-top .img-wrap img{
    width:150px
}
.header .header-content h1{
    margin-bottom:28px
}
.header .header-content p{
    margin-bottom:65px
}
.features{
    text-align:center
}
.features h2{
    color:#813eb3;
    margin-bottom:52px
}
.features .feature{
    border:1px solid #ddd;
    border-radius:3px;
    margin:0 -7px 14px
}
.features .feature .img-wrap{
    margin:26px auto 8px
}
.features .feature .img-wrap img{
    height:70px
}
.features .feature h3{
    font:normal normal 400 30px/normal "Blanch-Condensed",sans-serif;
    letter-spacing:.04em;
    margin-bottom:12px
}
.features .feature p{
    color:#7c7c7c;
    font-size:16px;
    padding:0 20px
}
.features .buttons{
    margin-top:32px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0 7px;
    width:100%
}
.features .buttons .btn{
    width:100%;
    margin-right: 18px;
    padding: 20px 32px;
    font-size: 16px;
    display: inline-block
}
.features .buttons .btn:last-child{
    margin-right:0
}
.opacity{
    opacity: 0.5;
}
.theme-display{
    background:url("../img/lp_pattern.png") !important
}
.theme-display .theme-image{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:row wrap
}
.theme-display .theme-image .img-wrap{
    margin:-32px auto -42px;
    position:relative;
    z-index:2;
    max-width:50%
}
.theme-display .theme-image .img-wrap img{
    max-width:none
}
.theme-display .theme-image .img-wrap figcaption{
    margin-top:6px;
    text-align:center;
    color:#fff;
    text-transform:uppercase;
    font-weight:300;
    font-style:italic
}
.theme-display .section-content{
    background:#683a72;
    padding:112px 0 0;
    text-align:center;
    color:#fff
}
.theme-display .section-content h2,.theme-display .section-content p{
    max-width:672px;
    margin:auto
}
.theme-display .section-content h2{
    font-weight:400;
    font-size:28px;
    margin-bottom:22px
}
.theme-display .section-content p{
    font-size:16px;
    font-weight:300;
    margin-bottom:22px;
    color:#fff
}
.theme-display .section-content p:last-of-type{
    margin-bottom:62px
}
.theme-display .section-content .btn{
    text-transform:uppercase;
    padding:20px 102px;
    margin-bottom:-12px
}
.resources-section{
    padding-bottom:0
}
.resources-section h2{
    color:#813eb3;
    text-align:center;
    margin-bottom:82px
}
.resources-section .resources{
    background:#fff;
    position:relative
}
.resources-section .resources .resource{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:32px 0;
    max-width:925px;
    margin:auto;
    border-bottom:0.12em solid #f7f7f7
}
.resources-section .resources .resource .img-wrap{
    max-width:450px
}
.resources-section .resources .resource .description{
    max-width:440px
}
.resources-section .resources .resource .description h3{
    color:#444;
    font-weight:700
}
.resources-section .resources .resource .description h3 strong{
    color:#813eb3;
    font-weight:900
}
.resources-section .resources .resource .description p{
    color:#636363
}
.resources-section .resources .resource .description .at-launch{
    margin-left:0;
    text-align:center;
    margin-bottom:18px
}
.buy-now{
    background:#693a73;
    text-align:center;
    color:#fff;
    margin-top:-42px;
    padding-bottom:8px
}
.buy-now h3{
    font-size:26px;
    max-width:1020px;
    margin:0 auto 32px
}
.buy-now h3 strong{
    font-weight:700
}
.buy-now h2{
    margin-bottom:42px
}
.buy-now .prices{
    display:inline-block;
    text-align:left;
    margin:auto;
    text-transform:uppercase
}
.buy-now .prices>*{
    display:flex;
    justify-content:flex-start
}
.buy-now .prices>* span{
    padding-right:12px;
    font-weight:400
}
.buy-now .prices .black{
    color:#e075f7;
    font-size:12px;
    align-items:flex-end
}
.buy-now .prices .black span{
    font-size:14px
}
.buy-now .prices .black .price-wrapper{
    font-size:14px;
    line-height:27px
}
.buy-now .prices .black .price-wrapper .launch-price{
    color:black;
    margin-right:0;
    margin-right:8px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-flow:row wrap;
    max-width:90px
}
.buy-now .prices .black .price-wrapper .launch-price>*{
    width:100%
}
.buy-now .prices .black .price-wrapper .launch-price del{
    font-size:14px;
    line-height:12px;
    color:#9c4baa;
    font-weight:900
}
.buy-now .prices .black .price-wrapper .launch-price strong{
    font-size:24px;
    font-weight:900;
    color: #e075f7;
}
.buy-now .prices .white{
    color:#fff;
    font-weight:300;
    font-size:18px
}
.buy-now .prices .white span{
    font-size:21px
}
.buy-now .prices .white .price-wrapper{
    align-items:flex-start;
    line-height:30px;
    font-weight:400
}
.buy-now .prices .white .price-wrapper .now-price{
    margin-right:8px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    flex-flow:row wrap;
    max-width:178px
}
.buy-now .prices .white .price-wrapper .now-price>*{
    width:100%
}
.buy-now .prices .white .price-wrapper .now-price strong{
    line-height:60px;
    font-size:52px;
    font-weight:900
}
.buy-now .prices .white .price-wrapper .now-price strong sup{
    font-size:18px;
    top:-25px
}
.buy-now .prices .white .price-wrapper .now-price small{
    text-transform:none;
    border-top:1px solid #795990;
    margin-top:12px;
    line-height:12px;
    padding-top:10px
}
.buy-now .prices .btn{
    display:block;
    margin-top:42px;
    text-transform: uppercase;
}
.buy-now .payments{
    max-width:420px;
    margin:32px auto
}
.buy-now .obs{
    color:#fff;
    font-size:14px;
    font-weight:300
}
.footer{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:32px;
    color:#444
}
.footer>*{
    margin:0 5px
}
.footer .pipe{
    font-size:16px;
    font-weight:300
}

/*Contagem regressiva*/
.count_block{display: inline-block;}
.count_block p{display: flex; justify-content: center; align-items: center; width: 85px; margin: 0 .5em; height: 85px; border: 1px solid #fff; color: #fff; font-size: 60px; font-weight: 900;}
.count_block span{display: block; color: #fbfbfb; text-align: center; margin: 10px 0 0 10px; font-size: 14px; text-transform: uppercase;}


/*Modal Pay*/
.gn_window {border-top: 12px solid #FF9800 !important;}
.gn_window header{height: 80px !important;}
.gn_window header h1{background-image: url(../img/lp_web-creative.svg) !important; height: 70px !important; top: 5px !important; background-size: 255px !important;}

.gn_window .gn_content_lightbox .step-bar .step:not(:first-child):before{background-color: #f3f1f1 !important;}
.gn_window .gn_content_lightbox .step-bar .step.step-selected:not(.step-error):after, .gn_window .gn_content_lightbox .step-bar .step.step-selected:not(:first-child):not(.step-error):before {background-color: #FF9800 !important;}
.gn_window .gn_content_lightbox .step-bar .step p, .gn_window .gn_content_lightbox .step-bar .step-selected p{font-size: 1em !important;}
.gn_window .gn_content_lightbox .step-bar .step.step-selected:not(.step-error) p {color: #FF9800 !important;}
.gn_window .gn_content_lightbox .gn_value_charge #gn_value_charge {background-color: #FF9800 !important;}
.gn_window .gn_content_lightbox .gn_buttons button#gn_prev_step{background: transparent !important;}
.gn_window .gn_content_lightbox .gn_buttons button {
    background-color: #2d3854 !important;
    width: 100% !important;
    font-size: 20px !important;
    font-weight: bold !important;
}
.gn_window .gn_content_lightbox .gn_content_form input{
    border: 1px solid #ccc !important;
    border-radius: 3px !important;
}
.gn_window .gn_content_lightbox .gn_buttons button:hover{background-color: #425584 !important; border-color: #425584 !important;}
.gn_faq, .gn_information{display: none !important;}
.gn_window .gn_content_lightbox .gn_value_charge td.gn_value_charge_label{color: #555 !important}



@media screen and (max-width: 1480px){
    .header .header-content{
        margin-right:22px
    }
    .header .header-content p{
        margin-bottom:22px
    }
    .features .features{
        height:260px
    }
    .features .buttons .btn{
        width:auto;
        white-space:pre-wrap
    }
}
@media screen and (max-width: 1200px){
    .features .feature{
        height:260px
    }
}
@media screen and (max-width: 1190px){
    .header .logo{
        margin-bottom:60px
    }
    .header .header-content{
        margin-bottom:160px;
        max-width:340px
    }
    .header .header-content .btn-action a{
        padding:12px 60px;
        width:auto
    }
}
@media screen and (max-width: 992px){
    .btn{
        width:auto
    }
    .header{
        background-size:auto 130% !important;
        background-position:left center !important
    }
    .header .logo{
        margin-bottom:60px
    }
    .header .header-video{
        float: none;
        width: 90%;
        margin: 0 auto 30px;
    }
    .header .header-video iframe{
        height: 100%;
    }
    .header .header-content{
        float:none;
        margin:0 auto 160px;
        max-width:520px;
        text-align:center
    }
    .header .header-content .header-content-top{
        justify-content:center
    }
    .header .header-content .btn-action a{
        text-align:center;
        padding:12px 88px;
        width:382px
    }
    .features .feature{
        max-width:310px;
        margin-left:auto;
        margin-right:auto
    }
    .resources-section .resources .resource{
        width:100%;
        max-width:none
    }
    .resources-section .resources .resource .img-wrap{
        max-width:40%
    }
    .resources-section .resources .resource .img-wrap img{
        max-width:none
    }
    .resources-section .resources .resource .description{
        max-width:55%
    }
}
@media screen and (max-width: 768px){
    h2{
        font:normal normal 700 32px/normal "Lato",sans-serif
    }
    .header .header-content .header-content-top{
        flex-flow:row wrap
    }
    .header .header-content .header-content-top .img-wrap{
        width:100%;
        margin-bottom:22px
    }
    .header .header-content .header-content-top .img-wrap:after{
        content:none
    }
    .header .header-content .header-content-top .img-wrap img{
        width:auto
    }
    .header .header-content .btn-action{
        margin:0 12px
    }
    .header .header-content .btn-action a{
        width:auto;
        padding:12px 36px
    }
    .features .buttons{
        flex-flow:row wrap
    }
    .features .buttons .btn{
        margin:0;
        margin-bottom:12px;
        width:100%;
        max-width:450px;
        font-size:20px
    }
    .theme-display .theme-image .img-wrap{
        max-width:90%
    }
    .theme-display .section-content h2{
        font-size:26px
    }
    .theme-display .section-content .btn{
        padding:20px;
        width:auto
    }
    .resources-section .resources{
        padding:0 8px
    }
    .resources-section .resources .resource{
        flex-flow:row wrap;
        max-width:450px
    }
    .resources-section .resources .resource .img-wrap{
        order:1;
        max-width:100%;
        width:100%;
        margin-bottom:22px
    }
    .resources-section .resources .resource .description{
        order:2;
        max-width:100%
    }
    .buy-now .section-content{
        padding:0 8px
    }
    .buy-now .section-content .prices>* span{
        padding-right:4px
    }
    .buy-now .section-content .prices .black{
        margin-bottom:8px
    }
    .buy-now .section-content .prices .black span{
        font-size:12px
    }
    .buy-now .section-content .prices .black .price-wrapper .launch-price{
        max-width:none
    }
    .buy-now .section-content .prices .white span{
        max-width:220px;
        font-size:17px
    }
    .buy-now .section-content .prices .white .price-wrapper .now-price strong{
        font-size:52px;
        line-height:42px
    }
    .buy-now .section-content .prices .white .price-wrapper .now-price strong sup{
        font-size:22px
    }
    .footer{
        flex-flow:row wrap
    }
    .footer span:first-of-type{
        text-align:center;
        width:100%
    }
    .count_block p{margin: 0 !important; font-size: 1em;}
    .count_block span{margin: 0 !important; font-size: .8em;}
}
/*# sourceMappingURL=style.css.map */